.cellwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 5px;
    }

  
}
.status{
    padding:1px;
    border-radius: 5px;

    &.Approved{
        background-color: rgba(238, 238, 238, 0.568);
        color: goldenrod;
    }
    &.pending{
        background-color: rgba(12, 230, 23, 0.24);
        color: green;
    }
}